# 'Y': 다시 코드 모드로 변경

# 'M': 쉘 하나가 마크다운 (esc 누르고)

# 'a' : 커서 기준 위에 쉘 하나 추가

# 'b': 커서 기준 아래에 쉘 하나 추가

# 'dd' : 쉘 삭제

# 'shift + enter ': 실행 후 커서를 아래로 이동

# ctrl + enter : 실행 후 커서를 제자리에

In [ ]:
API_KEY = '4fe983f1582b893b819da9c95418a03a'

In [32]:
API_KEY = '4fe983f1582b893b819da9c95418a03a'
# lat =  37.56
# lon = 126.97
city_name = 'Seoul,KR'
url = f'https://api.openweathermap.org/data/2.5/weather?q={city_name}&appid={API_KEY}'

In [33]:
import requests

response = requests.get(url).json()
# response
#온도만 출력
temp = response['main']['temp']
temp -= 273.15
temp

31.510000000000048